@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
  }
  body {
    background-color: var(--primColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

h1, h2 {
    font-family: "Signika", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 36px;
    line-height: 46px;
    color: #e0e0e0;
    padding-bottom: 40px;
    text-align: center;
}

h2 {
    font-size: 36px;
    line-height: 46px;
    color: #61a5f3;
    padding-bottom: 40px;
    text-align: center;
}

/*
 * The following section is specific to the Navigation Bar.
 * The data was pulled and modified from the original found here:
 * https://github.com/sixrevisions/fixed-navigation-bar
 */

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;
  }
  
  /* The element at the top of the page right after the fixed navigation bar
     MUST have sufficient top margin or else it will be covered by the bar */
  .content {
    margin-top: 20px;
  }
  
  /* Example responsive navigation menu  */
  .fixed-nav-bar li, .fixed-nav-bar a { 
    height: 50px;
    line-height: 50px;
  }
  .menu {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
  }
  .menu a, .menu a:visited {
    color: #ffffff;
  }
  .menu a:hover, .menu a:target {
    color: #ebebeb;
  }
  .menu-items {
    display: inline-block;
  }
  .sitename {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
  }
  .menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }
  .menu-items a {
    text-decoration: none;
  }
  .show, .hide {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
  }
  .show {
    background-image: url(down-arrow-icon.png);
  }
  .hide {
    background-image: url(up-arrow-icon.png);
  }
  
  @media only screen and (max-width: 980px) {
    .menu { 
      position: relative;
      width: 100%;
    }
    .sitename {
      position: absolute;
      top: 0;
      left: 15px;
      margin-left: 0px;
    }
    .menu-items {
      display: none; 
      width: 100%;
      margin-top: 50px;
      background-color: #008378;
    }
    .menu-items li {
      display: block;
      text-align: center;
    }
    .show, .hide {  
      position: absolute;
      top: 0;
      right: 15px;
    }
    .show {
      display: inline-block;
    }
    .hide {
      display: none;
    }
    #menu:target .show {
      display: none;
    }
    #menu:target .hide, #menu:target .menu-items {
      display: inline-block;
    }
  }
  
  @media only screen and (max-width: 220px) {
    .sitename, .show, .hide {
      font-size: 14px;
    }
  }

/*
 * Form the main sections of the portfolio
 */
.home {
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.description {
    padding-top: 100px;
    min-height: 500px;
    text-align: center;
}

.home .description p img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
}

.norm-section {
    padding-top: 20px;
    min-height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.norm-section p {
    font-size: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.round-image {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto;
}

.side-by-side {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-data {
    display: inline;
    vertical-align: middle;
    text-align: center;    
    position: relative;
    width: 400px;
    height: 75px;
}

/*
 * Heading is used above an image. The heading contains slightly larger
 * text than the title.
 */
.section-data .heading {
    color: rgb(241, 93, 93);
    font-size: 16px;
}

/*
 * Title appears under an image unlike the heading.
 */
.section-data .title {
    color: rgb(241, 93, 93);
    font-size: 12px;
}

.section-data .details {
    font-size: 12px;
    color:rgb(0, 0, 0);
}

.section-data .underlined-data {
    font-size: 12px;
    color:rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: #008378;
}

/*
 * CSS information for the button on the main page
 */
.button, .button:visited, .button-dark {
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: "Signika", sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #464646;
  border-color: #464646;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9);
}