@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
}
body {
    background-color: var(--primColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat; 
    /* font-family: Lato, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}

section {
  display: flex;
  min-height: 100vh;
}

.left {
  flex: 1;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}


.right {
  flex: 1;
  padding-left: 3%;
  padding-right: 15%;
  padding-top: 3%;
  
}


h1 {
  color: white;
  font-size: 48px;
}

h2 {
  color: white;
  font-size: 20px;
}

h2 .rhicon {
  height: 1em;
  width: 1em;
  justify-content: center;
}

h3 {
  padding-top: 2%;
  color: rgb(167, 165, 165);
  font-size: 16px;
}


/* General - Paragraph color should always contrast
the background for ease to readers */
p {
  color: white;
  font-size: 16px;
}

.right .about ol li {
  text-align: center;
  color: white;
  font-size: 16px;
}


/* Navigation Data */

.nav {
  padding-top: 3%;
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  font-size: 14px;
  font-style: italic;
}
.nav ul li {
  padding: 6px 0;
}
.nav ul li a {
  position: relative;
  display: block;
  padding: 4px 0;
  /* font-family: Lato, sans-serif; */
  color: rgb(167, 165, 165);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
      
.nav ul li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #feffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav ul li a:hover {
  color:  #feffff;
}

.nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* The icons are used for contact icons only */

.contact {  
  display: flex;
  /* justify-content: space-around; */
  padding-top: 25%;
  padding-bottom: 3%;
}
.contact a {
  padding-left: 2%;
  padding-right: 2%;
}

.icon {
  height: 32px;
  width: 32px;
}

.icon:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}


.right-section {
  padding-top: 10%;
}

.selection-group {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.selection-group:hover {
  background: rgba(255,255,255,0.1);
  border-radius: 2%;
}

.dates {
  height: 100%;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.main {
  height: 100%;
}

.title {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.disclaimer {
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: bold;
}

.sub-title {
  font-size: 16px;
  color: rgb(219, 219, 219);
}

.desc {
  font-size: 12px;
  color: rgb(219, 219, 219);
  padding-top: 5px;
  padding-bottom: 5px;
}

.oval {
  background: rgba(100, 255, 97, 0.3);
  color: rgb(219, 219, 219);
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 14px;
  max-width: 20ex;
  margin: auto;
  text-align: center;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.stand-alone {
  padding-top: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: rgb(219, 219, 219);
  
}